<!-- Aggiungi il Componente Carousel-->
<app-carousel></app-carousel>
<div>
  <h2 [ngClass]="evidenziato ? 'testoEvidenziato' : '' "  (click)="evidenziaTesto()" style="cursor: pointer;">Benvenuti su Cibando</h2>
  <p class="paragrafo" [ngStyle]="{'background-color': evidenziato ? 'yellow' : 'white'}">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur repudiandae distinctio atque consequatur sapiente voluptatibus, dicta dolores velit blanditiis nemo ab natus et sed error facilis illo voluptatem, inventore dolorem.
  </p>

  <div class="container-fluid">
    <h2>Ultime Ricette:</h2>

    <app-recipe-card pageCaller="home"></app-recipe-card>
  </div>

</div>
<button (click)="openModal(modalRegistration)" class="btn btn-primary" ngbAutofocus-Azione>Apri modale</button> <!-- Aprire una modale con il click del pulsante  -->

<ng-template #modalRegistration let-modal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Grazie per esserti registrato</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul>
      <li>nome: {{nomeUtente}}</li>
      <li>email: {{emailUtente}}</li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Close click')" ngbAutofocus-Azione>Chiudi</button>
  </div>
</ng-template>
