<div class="container-paginator" *ngIf="pageCaller!='home'">
  <p-paginator (onPageChange)="onPageChange($event)" [rows]="ricepesForPage" [totalRecords]="recipeList.length"  />
</div>
<!-- {{recipeList.length}} -->
<div *ngIf="recipeList.length" >
  <div class="container-card" *ngFor="let item of recipeList | slice: (page * ricepesForPage) - ricepesForPage : page * ricepesForPage">
    <div class="card">
      <!--<div class="card-img-top" [ngStyle]="{'background-image': 'url('+item.image+')'}" (click)="inviaTitolo(item.title)"></div>-->
      <div class="card-img-top" [ngStyle]="{'background-image': 'url('+item.imageUrl+')'}" (click)="sendDetails(item.id)"></div>
      <div class="card-body">
        <h5 class="card-title">{{item.title}}</h5>
        <p class="card-text">{{item.description | slice: 0:sliceDescription(item.description)}} ...</p>
        <div class="link">
          <span>
            <a routerLink="detail/{{item.title}}/{{item.id}}" class="btn">Visualizza</a>&nbsp; <!-- Pulsante per visualizzare la ricetta -->
            <button (click)="openDeleteModal(modalDeleteRecipe, item.id)" class="" ngbAutofocus-Azione *ngIf="userRole=='Admin'"><i class="pi pi-trash"></i></button> <!-- Aprire una modale con il click del pulsante  -->
          </span>
      </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalDeleteRecipe let-modal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Elimina ricetta</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Confermi di voler eliminare la ricetta <b>{{titleRecipeToDelete}}</b>?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Close click')" ngbAutofocus-Azione>Ok</button>
  </div>
</ng-template>
