@import '../../../styles/siteColors.scss';

.bg-light {
  //background-color: #8e210b!important;
  background-color: $primary-color-1;
  font-weight: 500;
}

.nav-link{
  color: $secondary-color-3;
}

.navbar-brand{
  color: $secondary-color-3;
  font-weight: bold;
}
