@import url('../../../styles/siteColors.scss');

.bg-light {
  //background-color: #8e210b!important;
  background-color: $primary-color-1;
  color: white!important;
}

.nav-link{
  color: white!important;
}

.nav-link{
  color: white!important;
}

.navbar-brand{
  color: white!important;
  font-weight: bold;
}
