/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";
@import "primeicons/primeicons.css";
@import 'bootstrap/scss/bootstrap';
/*
*/
@import '../src/styles/siteColors.scss';


body {
  //padding: 15px!important;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  margin-right: 15px;
}

/* NAVBAR */
nav {
  padding-left: 10px!important;
}

.bg-light {
  background-color: $primary-color-1!important;
}

h2 {
  font-family: "Montserrat", cursive;
  font-size: 40px;
  text-shadow: black 2px, 3px, 3px;
}

h3 {
  font-family: "Homemade Apple", cursive;
  font-size: 40px;
  text-shadow: black 2px, 3px, 3px;
}

.carousel-caption {
  color: black!important;
}
